<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} {{ config('application.name', 'Masonite') }} {% endblock %}</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v1.9.7/dist/alpine.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    {% block css %}{% endblock %}
</head>

<body>
    <div x-component='count' x-data='count()' x-init='init()'>
        <div x-html="html"></div>
        <button method="increment" @click='handle($event)'>Count</button>
    </div>
    <script>
        function count() {
            return {
                component: null,
                html: '',
                props: {
                    'count': 1
                },
                init() {
                    console.log('calling init again')
                    this.component = this.$el.getAttribute('x-component')
                    axios.post('/livewire/props/'+this.component, {'data': this.props})
                        .then(response => {
                            this.html = response.data
                            this.props = JSON.parse(response.headers['x-livewire'])
                        })
                    console.log(this.props)
                },
                handle(event) {
                    console.log(this.props)
                    let method = event.target.getAttribute('method')
                    axios.post('/livewire/props/'+this.component, {'data': this.props, method: method})
                    .then(response => {
                            this.html = response.data
                            this.props = JSON.parse(response.headers['x-livewire'])
                        })
                },
            }
        }
    </script>

</body>



</html>