name: CI

on: [push]

jobs:
  build:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        script: |
          mkdir -p /srv/sites/basic  # Make the directory if it doesnt exist
          mkdir -p /srv/sockets
          cd /srv/sites/basic # Go to that directory
          sudo chmod 0777 /srv/sockets
          git clone https://github.com/${{ github.repository }}.git ${{ github.sha }} # Clone the current repo
          # fuser -k 8001/tcp # Kill the application already running on 8001 (current production app)
          cd ${{ github.sha }} # Go to the directory we just made (current deployment)
          python3 -m venv /venvs/basic # Make our virtual environment if it doesn't exist
          source /venvs/basic/bin/activate # Activate our virtual Environment
          pip install -r requirements.txt # Install our dependencies
          echo "${{ secrets.ENV }}" >> .env
          set -m; nohup uwsgi --socket /srv/sockets/basic.masoniteproject.com.sock --wsgi-file wsgi.py --chmod-socket=777 &> /dev/null & # run gunicorn as a daemon
