name: CI

on: [push]

jobs:
  build:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        script: |
          mkdir -p /srv/sites/basic && cd /srv/sites/basic && git clone https://github.com/josephmancuso/wire.git ${{ github.sha }} && python3 -m venv /venvs/basic && source /venvs/basic/bin/activate && fuser -k 8001/tcp && gunicorn wsgi:application -b 127.0.0.1:8001
